img{
    display: none;
}
.walrus-showing{
    display: none;
}

/* p{
    cursor: pointer;
    color: blue;
}

p:hover{
    text-decoration: underline;
} */

.walrus-showing{
    display: none;
}

.clickable{
    cursor: pointer;
    color: blue;
}

.clickable:hover{
    text-decoration: underline;
}